@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Define Chronicle Semibold */
@font-face {
    font-family: 'Chronicle';
    src: url('../assets/fonts/Chronicle-Display-Semibold.otf') format('opentype');
    font-weight: 600; /* Semibold weight */
    font-style: normal; /* Adjust if italic or other styles are needed */
}

/* Define Chronicle Black */
@font-face {
    font-family: 'Chronicle';
    src: url('../assets/fonts/Chronicle-Display-Black.otf') format('opentype');
    font-weight: 900; /* Black weight */
    font-style: normal;
}
/* Define Gilroy Medium */
@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium weight */
    font-style: normal;
}

/* Define Gilroy Bold */
@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
}

/* Define Gilroy ExtraBold */
@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* ExtraBold weight */
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    background-image: url(../assets/img/heroBG.png);
    background-attachment: local;
    background-repeat: no-repeat;
}
/* .gradient-background{
    background-image: 
    linear-gradient(to top, rgba(0, 0, 0, 0), #000000),
    url(../assets/img/heroBG.png);
  

  background-size: cover;
  background-repeat: no-repeat;
} 
*/
button{
    all: unset;
}

.wrapper {
    width: 100%;
    height: 2300%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

header {
    margin-top: 64px;
}

header nav {
    font-family: 'Gilroy';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    max-width: 1750px;
    margin: 0 auto;
    /* Center the nav */

}

header nav .logo {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Chronicle';
}

header nav ul {

    display: flex;
    gap: 40px;
    /* Adjust spacing between menu items */
    margin: 0;
    padding: 0;

}

header nav ul li {

    display: inline-block;
}
header nav ul li a:hover{
    border-bottom: 3px solid #FBD784;
}

.log-reg:hover {
    display: inline-block;  
    color: #FBD784;
    border-radius: 50%;
   
}

.hero {
    margin-top: 198px;
}

.hero-info {
    margin: 0 auto;
    text-align: left;
    max-width: 950px;

}

.hiking-guide {
    max-width: 316px;
}

h1 {
    line-height: 88px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 82px;
    font-family: 'Chronicle';
    font-weight: 600;
    color:#ffffff;
    letter-spacing: 4px;
}
/* Social media block */
.social-block{
    position: absolute; /* Could also be fixed */
    top: 359px;
    left: 80px;
    z-index: 5; /* A high value to ensure it appears on top */

}
.social-block ul{
    list-style: none;
    text-align: center;
}
.social-block li {
    margin-bottom: 24px; 
}

.social-block li:last-child {
    margin-bottom: 0; 
}

.social-block ul li a img {
    transition: filter 0.1s; 
}

.social-block ul li a img:hover {
    filter: brightness(0) saturate(100%) hue-rotate(60deg) brightness(1.5);
}
.social-block ul li img:hover {
    filter: brightness(0) saturate(100%) hue-rotate(60deg) brightness(1.5);
}
.followUs {
    all: unset;
    display: inline-block;
    padding: 0px 5px;
    background-color: transparent;
    cursor: pointer;
}

/* Scroll down Hero button */
.scrollDown a img {
    transition: filter 0.1s; /* Smooth transition */
}
.scrollDown img:hover{
    filter: brightness(0) saturate(100%) hue-rotate(60deg) brightness(1.5);
}
/* Follow Us modal window */
.modal {
    display: none; 
    position: fixed; 
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 
 
}


.modal-content {
    background-color: #fff;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 300px; 
    border-radius: 6px;
}
.followUsTitle{
    text-align: center;
    margin-bottom: 24px;
    font-weight: bold;
    font-family: 'Gilroy';
}
.formField{
    width: 100%;
    height: 24px;
    line-height: 18px;
    border-radius: 4px;
}
.requiredField{
    color: rgb(251, 84, 84);
}
.followUs_subscribe{
    background-color: #edbb46;
    font-family: 'Gilroy';
    color: #ffffff;
    padding: 10px 20px;
    border-color: none;
    font-weight: 700;
    margin: 16px auto 0; 
    display: block;
}

.followUs_subscribe:hover{
    background-color: #FBD784;
}

.close {
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gilroy';   
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Toas message for Follow Us form */
.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #1c8a00;
    font-weight: bold;
    font-family: 'Gilroy';   
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}